@{
     Layout = null;
}
@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
     <link href='https://fonts.googleapis.com/css?family=IBM Plex Mono' rel='stylesheet'>
     <Title>Registration</Title>
     
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     @Styles.Render("~/styles/signup")
</head>
<body>
    <button id="switch-mode" class="switch-button"></button>
    <div class="login-page">
        <div class="login-page-container">
            <div class="login-page-container-left">
                <div class="login-page-container-left-avatar">
                </div>
                <div class="login-page-container-left-description">
                    <div class="login-page-container-left-description-text">
                        Salut!
                    </div>
                </div>
            </div>
            <div class="login-page-container-right" style="justify-content: space-between; height: 100%; padding: 30px 0;">
                <div class="login-page-container-right-title" style="margin: 0;">
                    Registrarea cu succes
                </div>
                <p class="registration-successful-text">
                    Așteptați răspunsul administratorului pe E-Mail
                </p>
                <a class="login-page-container-right-subbutton" href="@Url.Action("Index", "SignIn")">
                    Înapoi la logare →
                </a>
            </div>
        </div>

        <div class="login-page-background-figure" style="left: -20px; bottom: -40px; z-index: -2;"></div>
        <div class="login-page-background-figure" style="left: -90px; bottom: 100px; z-index: -3;"></div>
        <div class="login-page-background-figure" style="left: 100px; bottom: -120px; z-index: -1;"></div>
        <div class="login-page-background-figure" style="right: -20px; top: -40px; z-index: -2;"></div>
        <div class="login-page-background-figure" style="right: -90px; top: 100px; z-index: -1;"></div>
        <div class="login-page-background-figure" style="right: 100px; top: -120px; z-index: -3;"></div>
    </div>
    <script>
        $(document).ready(function () {
            const mode = localStorage.getItem("mode");
            if (mode === "darkMode") {
                $('body').addClass('dark-mode')
            }
        })

        $('#switch-mode').click(function () {
            $('body').toggleClass('dark-mode');
            if ($('body').hasClass('dark-mode')) {
                localStorage.setItem("mode", "darkMode")
            } else {
                localStorage.setItem("mode", "whiteMode")
            }
        });

    </script>
</body>
</html>