* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
    background-color: #DCE5F2;
    font-family: "IBM Plex Mono", monospace;
}

.register-page {
    width: 100vw;
    height: 100vh;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    font-size: 9px;
    border-collapse: collapse;
    width: 90%;
    margin: 30px 0;
    margin-left: 5%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
}

th, td {
    border: 1px solid #005393;
    padding: 2.5px;
    text-align: center;
    color: #005393;
}

.register-page-container {
    background: #DCE5F2;
    box-shadow: -5px 5px 10px rgba(198, 206, 218, 0.2), 5px -5px 10px rgba(198, 206, 218, 0.2), -5px -5px 10px rgba(242, 252, 255, 0.9), 5px 5px 13px rgba(198, 206, 218, 0.9), inset 1px 1px 2px rgba(242, 252, 255, 0.3), inset -1px -1px 2px rgba(198, 206, 218, 0.5);
    border-radius: 32px;
    margin-top: 30px;
    padding-top: 30px;
    width: 910px;
    height: 486px;
}

.register-page-selector {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.choice-rectangle {
    width: 100%;
    background: #dce5f2;
    box-shadow: 1px 1px 2px rgba(242, 252, 255, 0.3), -1px -1px 2px rgba(198, 206, 218, 0.5), inset -5px 5px 10px rgba(198, 206, 218, 0.2), inset 5px -5px 10px rgba(198, 206, 218, 0.2), inset -5px -5px 10px rgba(242, 252, 255, 0.9), inset 5px 5px 13px rgba(198, 206, 218, 0.9);
    border-radius: 30px;
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 0;
    text-align: center;
    color: #005393;
}

.register-page-selector-arrow {
    margin-left: 30px;
}

.register-page-selector-arrow-right {
    transform: scale(-1,1);
    margin-right: 30px;
}

.dark-mode .register-page-container {
    background-color: #23334A !important;
    color: #f2f2f2 !important;
    box-shadow: -22px 22px 44px rgba(23, 34, 49, 0.2), 22px -22px 44px rgba(23, 34, 49, 0.2), -22px -22px 44px rgba(47, 68, 99, 0.9), 22px 22px 55px rgba(23, 34, 49, 0.9), inset 1px 1px 2px rgba(47, 68, 99, 0.3), inset -1px -1px 2px rgba(23, 34, 49, 0.5) !important;
}

.dark-mode .choice-rectangle {
    background: #23334A !important;
    color: #f2f2f2 !important;
    box-shadow: 1px 1px 2px rgba(42, 61, 89, 0.3), -1px -1px 2px rgba(28, 41, 59, 0.5), inset -8px 8px 16px rgba(28, 41, 59, 0.2), inset 8px -8px 16px rgba(28, 41, 59, 0.2), inset -8px -8px 16px rgba(42, 61, 89, 0.9), inset 8px 8px 20px rgba(28, 41, 59, 0.9) !important;
}

.dark-mode .register-page-selector-arrow {
    fill: #f2f2f2 !important;
}

.dark-mode th {
    color: #f2f2f2;
    border-color: #f2f2f2;
}

.dark-mode td {
    color: #f2f2f2;
    border-color: #f2f2f2;
}