@{
     Layout = null;
}
@using System.Web.Optimization;
@model IEnumerable<MRSUTW.Models.Pereche>

<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Mono' rel='stylesheet'>
    <Title>MRSUTW</Title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @Styles.Render("~/styles/register")
    @Styles.Render("~/styles/header")
</head>
<body>
     <div class="register-page">
          <button id="switch-mode" class="switch-button"></button>

          @{ Html.RenderPartial("Header", "Register"); }

          <div class="register-page-container">
               <div class="register-page-selector">
                    <img src="~/Images/arrow.svg" class="register-page-selector-arrow">
                    <div class="choice-rectangle">Registru</div>
                    <img src="~/Images/arrow.svg" class="register-page-selector-arrow-right">
               </div>
               <table>
                    <thead>
                         <tr>
                              <th>Row</th>
                              <th>Student Name</th>
                              <th>01/01</th>
                              <th>02/01</th>
                              <th>03/01</th>
                              <th>04/01</th>
                              <th>05/01</th>
                              <th>06/01</th>
                              <th>07/01</th>
                              <th>08/01</th>
                              <th>09/01</th>
                              <th>10/01</th>
                              <th>11/01</th>
                              <th>12/01</th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr>
                              <td>1</td>
                              <td>John Smith</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>2</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>3</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>4</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>5</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>6</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>7</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>8</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>9</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>10</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>11</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>12</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>13</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>14</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>15</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>16</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>17</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>18</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                         <tr>
                              <td>19</td>
                              <td>Jane Doe</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                         </tr>
                    </tbody>
               </table>
          </div>
     </div>
    <div class="background-figure" style="left: -20px; bottom: -40px; z-index: -2;"></div>
    <div class="background-figure" style="left: -90px; bottom: 100px; z-index: -3;"></div>
    <div class="background-figure" style="left: 100px; bottom: -120px; z-index: -1;"></div>
    <div class="background-figure" style="right: -20px; top: -40px; z-index: -2;"></div>
    <div class="background-figure" style="right: -90px; top: 100px; z-index: -1;"></div>
    <div class="background-figure" style="right: 100px; top: -120px; z-index: -3;"></div>
    <script>
        $(document).ready(function () {
            const mode = localStorage.getItem("mode");
            if (mode === "darkMode") {
                $('body').addClass('dark-mode')
            }

            $('#search-button').click(function () {
                const data = $('#search-input').val();
                $.ajax({
                    url: "/Profile/Search/",
                    type: "POST",
                    data: {
                        searchData: data,
                    },
                    success: function (result) {
                        if (result.redirectUrl) {
                            window.location.href = result.redirectUrl;
                        } else {
                            console.log(result);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        })

        $('#switch-mode').click(function () {
            $('body').toggleClass('dark-mode');
            if ($('body').hasClass('dark-mode')) {
                localStorage.setItem("mode", "darkMode")
            } else {
                localStorage.setItem("mode", "whiteMode")
            }
        });

    </script>
</body>
</html>
